@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}

.navbar-brand-c{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #4A4A4A;
}

.image-blur{
    filter: blur(3px);
    -webkit-filter: blur(2px);
}
.carousel-caption-c{
    bottom: 10.25rem;

}
.carousel-button-c{
    color: rgb(196, 21, 21);

}
.navbar-ul-center{
    padding-left: 3%;
}
.navbar-ul-center li{
    padding: 2%;
}
.course-text{
    padding-top: 50PX;
}
.card-text-c{
    border: none;
    width: 50%;
    padding-bottom: 20px;
}
.card-text h1{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    color: #1D1D1D;
}

.card-text>p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    color: #777777;
}
.card-title-c{
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #4A4A4A;
}
.registration{
    background-color: rgb(79, 79, 216);
}
.content{
    height: 200px;
    background-color: cornflowerblue;
    color: #FFFFFF;
}
.reg-button{
    background-color: #FFFFFF;
}

.faq-text-c{
    border: none;
    width: 70%;
    padding-bottom: 20px;
}