@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}

.navbar-brand-c{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #4A4A4A;
}

.image-blur{
    filter: blur(3px);
    -webkit-filter: blur(2px);
}
.card-text-c{
    border: none;
    padding-bottom: 20px;
}
.card-text h1{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    color: #1D1D1D;
}

.card-text p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    color: #777777;
}
.card-title-c{
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #4A4A4A;
}
.registration{
    background-color: rgb(79, 79, 216);
}
.content{
    height: fit-content;
    background-color: cornflowerblue;
    color: #FFFFFF;
}

.faq-text-c{
    border: none;
    padding-bottom: 20px;
}
.company-text-c{
    border: none;
    padding-bottom: 20px;
}

.footer-text{
 background: #161616;
height: 472px;
}
.footer-text-c{
    padding-top: 50px;
    border: none;
    background: #161616;
}

.footer-text-c h3 {
font-weight: 600;
font-size: 40px;
line-height: 40px;
 color: #FFFFFF;


}
.footer-text-c p{
font-weight: 400;
font-size: 10px;
line-height: 15px;
text-align: center;
color: #E8E8E8;

}
.footer-text-c i{
    border: none;
    color: #FFFFFF;

}
.modal-text{
color: #161616;

}
.modal-btn:hover{
    color: #161616;
}
.modal-btn:focus{
    color: #161616;
}
